body {
  color: white;
  background: black;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  padding-top: 0.5rem;
}

p {
  font-family: 'Poppins', sans-serif;
}

#headerNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 15rem;
  margin-right: 15rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 0;
  backdrop-filter: blur(0.25rem);
  background: rgba(140, 56, 48, 0.416);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.39);
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 100;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.countdown-number {
  font-size: 2rem;
}

.countdown-label {
  color: #12dda7;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.countdown-divider {
  font-size: 0.8rem;
  font-weight: bold;
  color: #12dda7;
}

.custom-section {
  margin-top: 7rem;
}

.custom-header {
  margin-top: 7rem;
}

.back-imagen {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 1) 100%), url('/img/soldiers.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 5rem;
}

.title-first {
  font-family: 'Raleway', sans-serif;
  font-size: 75px;
}

.title-second {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
}

.title-third {
 margin-top: -1rem;
}

.content h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding-top: 0.5rem;
}

.content p {
  line-height: 0.75;
}

.first-section {
  position: relative;
  z-index: 1;
}

.first-section p {
  margin-bottom: -1rem; /* Ajusta el valor según tus necesidades */
  text-shadow: 2px 2px 4px rgba(16, 91, 252, 0.8);
}

.button-info {
  border-radius: 7rem;
  border: 0;
  color: white;
  background: rgba(242, 172, 125, 0.9); /* Valor de opacidad (0.9) */
  background: linear-gradient(227deg, rgba(242, 172, 125, 0.9) 3%, rgba(230, 36, 0, 0.9) 47%, rgba(242, 176, 125, 0.9) 100%);
  box-shadow: 2px 2px 6px rgba(16, 91, 252, 0.75), -2px -2px 6px rgba(230, 36, 0, 0.5); /* Opacidad y difuminado */
  transition: filter 0.3s ease;
}

.button-info:hover {
  filter: brightness(120%);
}

.button-second {
  padding-left: 1.5rem;
  padding-right: 1.5rem;  
  border-radius: 7rem;
  border: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.10rem;
  color: white;
  background:rgba(17, 0, 10, 0.552);
  box-shadow: 4px 4px 6px rgba(16, 91, 252, 0.75), -2px -2px 6px rgba(230, 36, 0, 0.5); /* Opacidad y difuminado */
  transition: filter 0.4s ease;
}

.button-second:hover {
  box-shadow: 5px 5px 20px rgba(16, 91, 252, 0.75), -5px -5px 20px rgba(230, 36, 0, 0.5); /* Aumentar tamaño e intensidad */
}

.card-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow: hidden;
}

.card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 30rem;
}

.card-custom { 
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(74,0,46,1) 100%); 
}

.card-custom-second {
  background-color: #ffcb5c;
  color: black;
  border-radius: 0.5rem;
  font-size: 2rem;
  margin-bottom: 5rem;
  height: 75%;
}

.card-custom-second p {
  overflow-wrap: break-word;
  line-height: 1.25;
}

.icon-cards {
  overflow-wrap: break-word;
  font-size: 4rem;
}

.scroll-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.scroll-indicator {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid gray;
}

.scroll-indicator.active {
  background-color: red;
  border-color: red;
}

.container-team {
  position: relative;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  padding: 30px;
  margin: 0 auto; /* Agregamos un margen automático para centrar el contenedor */
  box-sizing: border-box; /* Incluimos el padding en el ancho total del contenedor */
}

.container-team .card {
  position: relative;
  max-width: 300px;
  height: 215px;  
  background-color: #1D1E26;
  margin: 30px 10px;
  padding: 20px 15px;
  flex: 1 1 280px; /* Ajustamos el tamaño de las tarjetas para que se ajusten al contenedor */
  
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.container-team .card:hover {
  height: 320px;
}

.container-team .card .image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
  z-index: 1;
  border-radius: 15px;
}

.container-team .card .image img {
  max-width: 100%;
  border-radius: 15px;
}

.container-team .card .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container-team .card:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.section-header {
  font: 300 60px 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Poppins', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Poppins', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 30px;
}

.phone {
  margin-left: 26px;
}

.gmail {
  margin-left: 23px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control, textarea {
    margin: 0 auto;
  }

  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #F5F5F5;
  padding: 50px 0 15px;
  margin-top: 50px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

.line {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.column { 
  flex-basis: 25%;
  padding: 10px;
  position: relative;
}

.column:nth-child(2), .column:nth-child(3){
  flex-basis: 15%;
}

.logo { 
  margin-bottom: 30px;
}

.column p {
  margin-bottom: 0;
}

.column h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.enmail-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #F5F5F5;
}

.form-footer {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.form-footer .bi {
  font-size: 18px;
  margin-right: 10px;
}

.form-footer input {
  width: 100%;
  background: transparent;
  color: #F5F5F5;
  border: 0;
  outline: none;
}

.form-footer button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.form-footer button .arrow {
  font-size: 16px;
  color: #F5F5F5;
}

.social-icons {
  display: flex;
}

.social-icons .icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-bottom: 15px;
  cursor: pointer;
}

.social-icons .icon-container:first-child {
  margin-left: 0;
}

.social-icons .icon-container:not(:first-child) {
  margin-left: 10px;
}

.social-icons .icon-container i {
  font-size: 20px;
  color: #000;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #F5F5F5;
}

.underline-text {
  width: 50%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 45px;
  left: 0;
  overflow: hidden;
}

.underline-text span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 700px){
  footer{
    bottom: unset;
  }
  .column { 
    flex-basis: 25%;
  }
  .column:nth-child(2), .column:nth-child(3){
    flex-basis: 100%;
  }
}